.logo {
    background-image: url(./logo.png);
    background-repeat: no-repeat;
    width: 52%;
    height: 104px;
    background-position: top;
}

.login {
    background-image: url(./user.svg\ -\ Kısayol.lnk);
    background-repeat: no-repeat;
    width: 50%;
    height: 45px;
}

.search {
    align-self: flex-end;
}

.RightNav {
    padding-top: 42px;
    display: inherit;
}

.cart {
    background-image: url(./cart.svg\ -\ Kısayol.lnk);
    background-repeat: no-repeat;
    width: 50%;
    height: 45px;
}

.card {
    display: inline-table;
    margin-right: 20px;
}

.card-body {
    display: contents;
}

.InputTop {
    height: 45px;
}

.tekTik {
    background-image: url(./tektık.png);
}

.iade {
    background-image: url(./iade.png);
}

.mobile {
    background-image: url(./mobil.png);
}

.teslimat {
    background-image: url(./teslim.png);
}

.tekTik,
.iade,
.mobile,
.teslimat {
    background-repeat: no-repeat;
    width: 50%;
    height: 143px;
    background-position: bottom;
    background-position-x: center;
    background-position-y: -28px;
}

.btn-group {
    width: 100%;
}

.TopLinkUl,
.LinkUl {
    display: flex;
    list-style-type: none;
    font-weight: 700;
    font-size: 10px;
    color: #7b7b7b;
    padding-inline-start: 248px !important;
}

li {
    padding-right: 22px;
}

.TopHeader {
    margin: 15px 0 0 0;
}

.women {
    color: red;
}

.MyCart {
    width: 120px;
    height: 45px;
    border: 1px solid #919191;
    background-color: #919191;
    font-size: 15px;
    color: #fff;
    position: relative;
    line-height: 1.2;
    font-weight: 700;
}

.LogIn {
    width: 136px;
    height: 45px;
    border: 1px solid #919191;
    background-image: url(./user.png);
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 10px;
    margin-right: 6px;
}

input {
    border: 1px solid #919191 !important;
}

.InputSearch {
    background-color: #919191 !important;
    color: #fff !important;
    line-height: 1.07;
    font-size: 15px;
    letter-spacing: -.24px;
    font-weight: 600;
    width: 54px;
}

.InputImg {
    background-image: url(./sersch.png);
    background-repeat: no-repeat;
    padding-left: 47px !important;
    background-position-x: 6px;
    background-position-y: center;
}

 ::placeholder {
    font-size: 13px!important;
    font-weight: 600!important;
    color: #d3cdcd!important;
}

.giris {
    font-size: 12px;
    line-height: 1;
    display: block;
    color: #484848;
    font-size: 15px;
    font-weight: 700;
}

.or {
    font-size: 9px;
    line-height: 1.4;
    display: block;
    font-size: 10px;
    color: #484848;
    white-space: nowrap;
}

.CartItemCount {
    background-image: url(./shop.png);
    background-repeat: no-repeat;
}

.ColorfulBand {
    width: 100%;
    height: 8px;
    display: inline-block;
    position: absolute;
    top: 128px;
}

.ColorfulBand-7622da {
    background-color: #7622da;
    height: 8px;
    width: 9%;
    display: inline-block;
}

.ColorfulBand-47c6eb {
    background-color: #47c6eb;
    height: 8px;
    width: 18%;
    display: inline-block;
}

.ColorfulBand-ed5f1f {
    background-color: #ed5f1f;
    height: 8px;
    width: 31%;
    display: inline-block;
}

.ColorfulBand-f59f28 {
    background-color: #f59f28;
    height: 8px;
    width: 15%;
    display: inline-block;
}

.ColorfulBand-6b1e5b {
    background-color: #6b1e5b;
    height: 8px;
    width: 13%;
    display: inline-block;
}

.ColorfulBand-45b794 {
    background-color: #4bb794;
    height: 8px;
    width: 12%;
    display: inline-block;
}

.category {
    margin-top: 17px;
}

.NavDeskop {
    display: inline-flex;
    margin-bottom: 25px 0 25px 0;
}

.dropdown-toggle {
    white-space: normal !important;
}

.dropdown-toggle::after {
    display: none !important;
}

.btn-secondary {
    height: 56px;
    font-size: 14px;
    text-align: center;
    letter-spacing: -.28px;
    color: #6c757d;
    background-color: #fff;
    border: none !important;
    font-weight: 600;
}

.btn-secondary:focus {
    background-color: #fff;
    color: orangered;
}

.first {
    background-image: url(./nav1.png);
}

.second {
    background-image: url(./nav2.png);
}

.third {
    background-image: url(./nav3.png);
}

.fourth {
    background-image: url(./nav4.png);
}

.fifth {
    background-image: url(./nav5.png);
}

.sixth {
    background-image: url(./nav6.png);
}

.seventh {
    background-image: url(./nav7.png);
}

.eighth {
    background-image: url(./nav8.png);
}

.first,
.second,
.third,
.fourth,
.fifth,
.sixth,
.seventh,
.eighth {
    background-repeat: no-repeat;
    width: 100%;
    height: 59px;
    background-position: top;
}

.MarketingBillboard {
    width: 100%;
    margin: 25px 0;
    border-radius: 5px;
}

.BillboardDeskop {
    display: none;
}

.BillboardMobile {
    display: flex;
    display: none;
}

.BannerColumnMain {
    border-radius: 5px;
}

.CardSlider2 {
    margin-top: 50px;
}

.CardHeader {
    display: grid;
    width: 100%;
}

.DealOfTheDay {
    display: flex;
    overflow: scroll;
}

.FooterHeader {
    margin-top: 25px;
}

.FooterHeadLink {
    float: right;
    text-align: end;
}

.ShippingMobile {
    text-align: center;
    font-size: 20px;
    margin-top: 50px;
}

.Logo {
    background-position: left;
}

a {
    text-decoration: none;
    color: gray
}

.FooterTop {
    margin-top: 50px;
    display: none;
}

ul {
    list-style: none;
    padding-left: 0;
    color: #919191;
}

h5 {
    font-size: 14px;
    line-height: 1.2;
    text-align: center;
}

.soru,
.call,
.Or,
.Call,
.InfoMail,
.address {
    padding: 0 16px 16px;
    text-align: center;
    line-height: 1.2;
    font-family: "Helvetica";
    font-size: 15px;
    font-weight: bold;
}

.number {
    margin-top: 8px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color: #484848;
}

.whatsapp {
    margin: 16px auto;
    position: relative;
    padding-left: 36px;
    padding-top: 4px;
    color: #484848;
    text-align: center;
}

.FooterSolutionCenter {
    margin: 25px 0;
}

.FooterMiddle {
    overflow: hidden;
    margin-top: 50px;
    text-align: inherit;
}

.MiddleLeft {
    display: contents;
}

.FooterEnd {
    text-align: center;
    margin: 50px 0;
}

.BottomNav {
    overflow: scroll;
    position: fixed;
    width: 100%;
    z-index: 2;
    bottom: 0 !important;
    border: 1px solid gray;
}

.BottomNav,
.a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    /*padding: 14px 16px;*/
    text-decoration: none;
}

.ContactButton {
    width: 8%;
    position: fixed;
    top: 30px;
    left: 5px;
}

.RightNavMobile {
    display: flex;
    align-items: center;
}

.MyCartMobile {
    background-image: url(./iconmonstr-shopping-cart-5.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30px;
    width: 50%;
    height: 50px;
    background-color: #fff;
}

.MyProfileMobile {
    background-image: url(./iconmonstr-user-circle-thin\ \(1\).svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30px;
    width: 50%;
    height: 50px;
    background-color: #fff;
}

.nav {
    flex-wrap: nowrap !important;
}

.nav-pills,
.nav-link.active {
    color: darkgray !important;
    background-color: #fff !important;
    font-weight: 700;
    overflow: scroll;
}

.nav-link {
    display: contents;
}

.carouselWrap2 {
    display: none;
}

.carouselBucket {
    width: 100%;
}

.bucket {
    display: -webkit-box;
    overflow: scroll;
}

.SlickImg {
    overflow: hidden;
    border-radius: 10px;
}

.BackToTop {
    display: none;
    position: fixed;
    bottom: 40px;
    left: 39%;
}


/*for mobile*/

@media screen and (max-width: 780px) {
    .TopLink,
    .RightNav,
    .ColorfulBand,
    .NavDeskop,
    .Logo,
    .FooterSolutionCenterDesk,
    .BillboardDeskop,
    .HeaderDesktop,
    .carousel-caption,
    .FooterDesktop {
        display: none;
    }
    .search {
        width: 100%;
    }
    .FooterHeadLink {
        float: left;
        text-align: start;
        margin-bottom: 20px;
    }
    .logo {
        background-size: 60%;
        background-position: center;
    }
    .BannerColumnMain {
        width: 100px;
    }
    .BannerColumn {
        display: flex;
    }
    .ContactButton {
        left: 0;
    }
    .carousel-indicators {
        position: inherit;
        margin: 0 0 25px 0!important;
        overflow: scroll !important;
        white-space: pre;
        display: -webkit-box;
    }
    .ButtonSlider {
        width: max-content;
    }
}


/*for desktop*/

@media (min-width: 780px) {
    .BottomNav,
    .BillboardMobile,
    .HeaderMobile,
    .FooterHeader {
        display: none;
    }
    input {
        height: 45px;
    }
    .logo {
        background-position: center;
        padding-right: 0;
    }
    .search {
        padding-left: 0;
    }
    h2 {
        font-size: 25px;
        display: inline-table;
    }
    .NavDeskop {
        text-align: center;
        font-size: 13px;
        font-weight: 500;
    }
    .Logo {
        background-image: url(./logo.png);
        background-repeat: no-repeat;
        width: 100%;
        height: 104px;
    }
    .AboutUs {
        display: grid;
    }
    .ProductWrap {
        display: flex !important;
    }
    .ProductImg {
        background-image: url(./format_webp.jfif);
        background-repeat: no-repeat;
        width: 6%;
        height: 50px;
        position: absolute;
    }
    .ProductInfo {
        display: flow-root;
        padding-left: 76px;
    }
    .FooterTopMobile,
    .FooterSolutionCenter {
        display: none !important;
    }
    .MainSlider {
        display: block;
        margin-top: 50px;
    }
    /*.carousel-indicators {
        top: 0 !important;
    }*/
    .carousel-caption {
        background-color: rgba(240, 214, 180, 0.4);
        border-radius: 24px;
        width: max-content;
        position: absolute;
        bottom: auto;
        left: auto;
        top: 15px;
    }
    .carousel-indicators li {
        height: 45px !important;
        width: 60px !important;
        border-radius: 5px !important;
        margin-bottom: 5px;
        text-indent: inherit;
        text-align: center;
        color: #6c757d;
    }
    .carousel-indicators {
        position: inherit !important;
        margin-top: 15px;
    }
    .carousel-caption h5 {
        margin-top: 35px;
        font-size: 50px;
        color: rgb(0, 0, 0);
    }
    .w-100 {
        border-radius: 10px;
    }
    .ButtonSlider {
        background-color: orangered;
        margin-right: 10px;
        color: #fff;
    }
    .InspectButton {
        height: fit-content;
        background-color: #6c757d;
        color: #fff;
    }
    .CardSlider {
        display: inline;
    }
    .DealOfTheDay {
        display: flex;
        overflow: auto;
    }
    .card {
        width: fit-content !important;
    }
    .shipping {
        background-image: url(./kargo.png);
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 100px;
    }
    .bucket {
        overflow: hidden;
    }
    .nav-pills,
    .nav-link.active {
        overflow: auto;
    }
    .NavWrapper {
        display: flex;
        justify-content: center;
    }
    .FooterDesktop {
        margin-top: 50px;
    }
    .icon-bar {
        position: inherit;
        margin-top: 101px;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }
    /* Style the icon bar links */
    .icon-bar a {
        display: block;
        text-align: center;
        padding: 16px;
        transition: all 0.3s ease;
        color: white;
        font-size: 20px;
    }
    /* Style the social media icons with color, if you want */
    .icon-bar a:hover {
        background-color: #000;
    }
    .facebook {
        background: #3B5998;
        color: white;
    }
    .twitter {
        background: #55ACEE;
        color: white;
    }
    .instagram {
        background: #e4405f;
        color: white;
    }
}


/*.prev,
 .next {
     width: 60px;
     height: 45px;
     background-repeat: no-repeat;
     background-position: center;
     margin-top: 8px;
 }
 .prev {
     background-image: url(./prev.svg);
 }
 .next {
     background-image: url(./next.svg);
 }/*